In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'Apples':[30],'Bananas':[21]})
print(df)
df

   Apples  Bananas
0      30       21

   Apples  Bananas
0      30       21

In [3]:
df = pd.DataFrame([[35, 21],[41, 34]], index=['2017 Sales', '2018 Sales'], columns=['Apples','Bananas'])
print(df)
df

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [4]:
df = pd.DataFrame([['Austin',139, 'Sun'],[ 'Dallas', 237, 'Sun'],['Austin',326, 'Mon'],[ 'Dallas', 456, 'Mon']], columns=['city','visitor','weekday'])
print(df)
df

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [5]:
df.where(df['weekday']=='Sun').mean(axis=0).visitor

188.0

In [6]:
df.where(df['weekday']=='Mon').mean(axis=0).visitor

391.0