In [1]:
import pandas as pd

In [2]:
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])

In [3]:
q_df=q_df.fillna('others')
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [4]:
from sklearn.preprocessing import LabelEncoder
q_df['Profession_label'] = LabelEncoder().fit_transform(q_df['Profession'].values)
q_df

      Sex Profession  Profession_label
0    male    teacher                 2
1    male   engineer                 0
2  female     others                 1
3  female   engineer                 0